html {
    font-size: 62.5%;
    box-sizing: border-box;

}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    position: relative;
    background: rgb(122,122,122);
    background: radial-gradient(circle, rgb(194, 209, 255),rgb(125, 130, 255))
}

.spinner-wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20%;

}
.Toastify__toast-body {
    font-size: 1.6rem;
}

.login-container {
    background-color: rgb(255, 255, 255);
    padding: 1.5rem;
    /* text-align: center; */
    width: 40rem;
    border: 1px solid #2757ba;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-container input {
    display: block;
    padding: 1rem;
    width: 100%;
    margin: 1rem 0;
    /* border-radius: 4px; */
    outline: none;
    font-size: 1.6rem;
    letter-spacing: 1px;
    color: rgb(53, 53, 53);
    border: none;
    border-bottom: 1px solid rgb(160, 160, 160);
}

.login-container input:focus {
    border-bottom: 1px solid rgb(146, 158, 244);
}

.form-title {
    font-size: 2rem;
    color: #2757ba;
}

.submit {
    padding: 1rem;
    width: 100%;
    margin: auto;
    display: block;
    outline: none;
    border: none;
    background-color: #4e82ef;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1.7rem;
    cursor: pointer;
    border-radius: 4px;
    position: relative;
    transition: all 100ms ease-in-out;
}
.submit:hover{
    background-color: #2757ba;
}

.resend{
    font-size: 1.2rem;
    color: #2757ba;
    margin: auto;
    cursor: pointer;
    padding-top: 6px;
    text-align: right;
}

.user-info-container {
    font-size: 3rem;
    text-align: center;
}
.nav{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0;
    gap: 1rem;
    height: 5rem;
    align-items: center;
    background-color: #a5cdff;
}
.nav li{
    font-size: 2rem;
    cursor: pointer;
    display: inline-block;
    padding: 4px;
}
.nav li:hover{
    text-decoration: underline;
}
a{
    text-decoration: none;
}